.input {
  width: 200px;
  margin: 5px 10px;
  padding: 5px 5px;
  display: inline-block;
  border-radius: 5px;
  border-width: 3px;
  border-color: #87CEFA;
  border-style: solid;
  height: 20px;
  transition: 0.3s;
}

.input:hover {
  box-shadow: 2px 2px 8px 2px rgb(135, 206, 250, .3);
  transform: scale(1.05); 
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  
  display: inline-block;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: #87CEFA;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 2px 2px 8px 2px rgb(135, 206, 250, .3);
  transform: scale(1.05);
}

.output {
  width: 465px;
  min-height: 300px;
  overflow: auto;
  margin: 5px 10px;
  padding: 5px 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 5px;
  border-width: 3px;
  border-color: #87CEFA;
  border-style: solid;
}

.message {
  max-width: 80%;
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border-width: 3px;
  border-color: #87CEFA;
  border-style: solid;
  height: 20px;
  transition: 0.3s;
}

.out {
  align-self: flex-end;
} 

.in {
  align-self: flex-start;
  background: rgb(135, 206, 250, .3);
} 



